html {
  height: 100%;
  width: 100%;
  font-family: "Titillium Web", sans-serif;
}

body {
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(silver, grey);
}



#main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.3);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
}

#list {
  margin: 10px;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.75);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  text-align: center;
}

#tasks {
  list-style: none;
  padding-inline-start:0;
}

li{
  text-transform: capitalize;
  padding: 5px;
  margin-bottom: 5px;
  border: solid #fff 1px;
  border-radius: 5px;
}

li[priority="1"]{
  background-color:pink;
}
li[priority="2"]{
  background-color: lightgoldenrodyellow;
}
li[priority="3"]{
  background-color: lightgreen;
}

.due{
  font-size: .8em;
  font-weight: bold;
  padding-left: 5px;
  vertical-align: middle;
}

input, select {
  padding:5px;
  border-radius: 5px;
  border: solid #777 1px;
}
input[type="date"]{
  padding:3px !important;
}

input[type='submit'] {
  background-color: #0ac;
  color: #fff;
}

button {
  margin-left: 10px;
  vertical-align: middle;
  background-color: #fff;
  color: red;
  border: solid #eee 1px;
  border-radius: 5px;
  font-size: .5em;
  cursor: pointer;
}
